---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { sequence } from 'astro:middleware';

const metadata = {
  title: "Arunav's Portfolio",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget  ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Download Resume',
        href: 'https://github.com/ARNAB814/Resume/blob/main/Resume.pdf',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: "Email", href: "mailto: arunavs@mun.ca" },
    ]}
    image={{ src: 'https://github.com/ARNAB814/Portfolio/blob/main/src/assets/images/IMG_4082.jpg?raw=true', alt: 'placeholder ' }}
  >
    <Fragment slot="title">
      Welcome to my website!
    </Fragment>

    <Fragment slot="subtitle" >
      Hey there! I'm Arunav Saha, currently in my 4th year of a Bachelor of Science (Hons.) in Computer Science at Memorial University of Newfoundland. Thank you for visiting my portfolio!
    </Fragment>

 
  </Hero>


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
  // id="features"
  // tagline=""
  title="Technical Skills"
  subtitle="Skills developed through academic and work experiences:  "
  items={[
    {
      title: 'Programming Languages',
      description: 'Proficient in: Python, Java, C++, JavaScript <br /> Familiar with: C, C#',
      icon: 'tabler:code',
    },
    {
      title: 'Web Development',
      description: 'Proficient in: HTML, CSS, Astro, Node.js <br /> Familiar with: React, Flutter',
      icon: 'tabler:browser',
    },
    {
      title: 'Embedded Systems',
      description: 'Experience with Arduino for hardware development and TinkerCad for 3D design and printing. Utilized Pandas for data manipulation.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Game Development',
      description: 'Worked with Unreal Engine and Unity for game development projects. Used C++ with the SFML framework.',
      icon: 'tabler:arrows-right-left',
    },
    {
      title: 'Operating Systems',
      description: 'Proficient in: Linux and Windows for system administration and development.',
      icon: 'tabler:bulb',
    },
    {
      title: 'Image Editing',
      description: 'Proficient in Photoshop and Luminar AI for creative design. Experienced with DaVinci for video editing.',
      icon: 'tabler:code',
    },
  ]}
/>

<!-- Content Widget **************** -->

<Content
  isReversed
  title="Work Experience"
  items={[
    {
      title: 'Simulation Enhancement',
      description:'Used Unreal Engine to conduct simulations and enhance edge computing performance.'
    },
    {
      title: 'Highlighted Focus Areas',
      description:
        'Emergency vehicle scenarios, lane allocation, variable speed, and V2V communication.'    },
    {
      title: 'Edge Computing',
      description:
        'Implemented solutions to optimize data processing and real-time decision-making.',
    },
  ]}
  image={{
    src: 'https://researchleap.com/wp-content/uploads/2021/12/AI_Drive_Reasoning-002.png',
    alt: 'Autonomous Vehicle Simulation',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Autonomous Vehicle Researcher</h3>
    Research Assistant (8 months) <br /> Worked under faculty supervision to improve the efficiency and safety of autonomous vehicles in real-world scenarios.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isAfterContent
  items={[
    {
      title: 'Community Building',
      description: 'Fostered a welcoming environment and encouraged open communication among residents.',
    },
    {
      title: 'Team Collaboration',
      description:
        'Worked within the Rezlife framework, helping new RAs and improving through supervisor feedback.'
    },
    {
      title: 'Event Planning',
      description:
        'Organized and executed various events and activities to foster a sense of community among residents.',
    },
    {
      title: 'Emergency Handling',
      description:
        'Handled emergencies calmly and efficiently, deescalated conflicts, and provided first aid and mental health support when needed.',
    },
  ]}
  image={{
    src: 'https://www.newfoundlandlabrador.com/businessimages/hero/32624197',
    alt: 'Cluett Hall Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Resident Assistant</h3>
    Cluett Hall (Since 2022)</br>I’ve been a Resident Assistant in Cluett Hall for over two years. It’s more than a job— it’s like a second home!
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'Coding Lessons',
      description: 'Provided coding lessons to students in grades 1-12 (Python, Java, Arduino).',
    },
    {
      title: 'Cybersecurity',
      description: 'Conducted workshops on cybersecurity and privacy management.',
    },
    {
      title: 'Robotics and Troubleshooting',
      description: 'Worked on robotics projects and resolved issues with various devices including MacBooks, Linux OS, and Nintendo Switch.',
    },
    {
      title: 'Team Collaboration',
      description:
        'Collaborated with a diverse group of counselors from various educational sectors to create an engaging learning environment for campers.',
    },
  ]}
  image={{
    src: 'https://www.mun.ca/engineering/media/production/memorial/academic/faculty-of-engineering/faculty-of-engineering-and-applied-science/media-library/images/content/camp/arcticengineer/IMG_4619-652x434.JPG',
    alt: 'Summer Camp Coding Instruction',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Coding Instructor</h3>
    Memorial Engineering Outreach Summer Camp (2023 & 2024) </br> Teaching coding to young students was an amazing experience, and I loved seeing their enthusiasm for technology!
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Steps Widget ****************** -->

<Steps
  title="Other Work Experiences"
  items={[
    {
      title: 'AI Policy Researcher',
      description:
        'Contract Position – Memorial U Governance Secretariat </br> Conducted research on the impact of generative AI on academic plagiarism and proposed policy countermeasures.',
      icon: 'tabler:package',
    },
    {
      title: 'Professional Photographer',
      description:
        'Part-time – Memorial University </br> Engaged in digital marketing, event coverage, portrait, and architectural photography.',
      icon: 'tabler:camera',
    },
    {
      title: 'Community Manager: <a href="https://reflectiveteens.com" target="_blank" title="Reflective Teens">Reflective Teens</a>',
      description:
        'Reflective Teens (Jan 2020 - Feb 2022) </br> Led an international community, coordinated events, recruited team members, and ensured a safe and inclusive environment.',
      icon: 'tabler:paint',
    },
    {
      title: 'Future Endeavors',
      icon: 'tabler:check',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
    alt: 'Future Ventures Image',
  }}
/>


  <!-- Features2 Widget ************** -->

  <Features2
    title="Projects"
    subtitle="Projects I worked on for academic or work requirements or simply out of curiosity"
    tagline=""
    items={[
      { 
        title: 'Email Spam Classifier',
        description: '<a href="https://github.com/ARNAB814/Spam-Email-Classifier" target="_blank" title="Email Spam Classifier">Uses Machine Learning to identify spam emails. Avaialble on my Github</a>',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Game of Life',
        description: '<a href="https://github.com/ARNAB814/Game-of-Life" target="_blank" title="Reflective Teens">Conway\'s Game of Life implemented on Java. Avaialble on my Github</a>',
        icon: 'flat-color-icons:template',
      },
      {
        title: "Can't Stop",
        description: '<a href="https://github.com/ARNAB814/Cant-Stop" target="_blank" title="Reflective Teens">A digital version of the classic board game remade in Java Swing. Avaialble on my Github</a>',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: "Knight's Tour",
        description: '<a href="https://github.com/ARNAB814/Knights-Tour" target="_blank" title="Reflective Teens">Solve the famous math problem using Knight\'s move sequence. Avaialble on my Github</a>',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Portfolio Site',
        description: '<a href="https://github.com/ARNAB814/Portfolio" target="_blank" title="Reflective Teens">Used Astro and Node.js to build this website. Source code available in Github!</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Battleship Engine',
        description:
          'A battleship game playable online, made using Javascript, html and css. Source code avaiable upon request.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Ninja Adventure',
        description: '2D topdown game made in C++ with a SFML framework. The game review is avaialbe on Github. Code avaiable upon request.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Gerometry Dash',
        description: 'Game made in C++. Code avaiable upon request.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'VR Simulation',
        description:
          'Created in SteamVR and unity engine. Specifics of the project are covered by NDA.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Sudoku',
        description: '<a href="https://github.com/ARNAB814/Sudoku" target="_blank" title="Reflective Teens">Made in Python. Imports big data using Pandas. Avaiable on Github.</a>',
        icon: 'flat-color-icons:database',
      },
    ]
    
    }
  > 
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

    
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in the Blog section"
    information={`I like to click pictures in my free time. Here are some of my pictures in the blog. Enjoy!
                `}
  />


  

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'LinkedIn',
        href: 'https://linkedin.com/in/arunavsaha',
        target: '_blank',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  >
    <Fragment slot="title">
     <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">You've reached the end!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Checkout my other projects if you're curious :)
    </Fragment>
  </CallToAction>
</Layout>
