---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { sequence } from 'astro:middleware';

const metadata = {
  title: "Arunav's Portfolio",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget  ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Download Resume',
        href: 'https://github.com/ARNAB814/Resume/blob/main/Resume.pdf',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: "Email", href: "mailto: arunavs@mun.ca" },
    ]}
    image={{ src: 'https://github.com/ARNAB814/Portfolio/blob/main/src/assets/images/IMG_4082.jpg?raw=true', alt: 'placeholder ' }}
  >
    <Fragment slot="title">
      Welcome to my website!
    </Fragment>

    <Fragment slot="subtitle" >
      Hey there! I am Arunav Saha, currently in my 3rd year of B.Sc. Computer Science at Memorial University of Newfoundland. Welcome to my portfolio website!
    </Fragment>

 
  </Hero>


  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
  // id="features"
  // tagline=""
  title="Technical Skills"
  subtitle="Skills Developed through Academic and Work Experiences"
  items={[
    {
      title: 'Programming Languages',
      description: 'Proficient in Python, Java, C++, JavaScript. <br /> Familiar with C, C#',
      icon: 'tabler:code',
    },
    {
      title: 'Web Development',
      description: 'Proficient in HTML, CSS, Astro, Node.js. <br /> Familiar with React and Flutter.',
      icon: 'tabler:browser',
    },
    {
      title: 'Embedded Systems',
      description: 'Experience with Arduino  for hardware development and TinkerCad for 3D design and printing.<br /> Used Pandas for data manipulation.',
      icon: 'tabler:rocket',
    },
    {
      title: 'Game Development',
      description: 'Utilized Unreal Engine and Unity for game development projects. <br /> Also used C++ with SFML framework.',
      icon: 'tabler:arrows-right-left',
    },
    {
      title: 'Operating Systems',
      description: 'Proficient in Linux and Windows for system administration and development.',
      icon: 'tabler:bulb',
    },
    {
      title: 'Image Editing',
      description: 'Proficient in Photoshop and Luminar AI for creative design work. Worked with DaVinci for video editing.',
      icon: 'tabler:code',
    },
  ]}
/>



  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Work Experience"
    items={[
      {
        title: 'Simulation Enhancement',
        description:
          'Conducted simulations on Unreal Engine to enhance edge computing efficiency.',
      },
      {
        title: 'Highlighted Areas',
        description:
          'Focused on Ems vehicles, lane allocation, variable speed, and v2v communication.',
      },
      {
        title: 'Edge Computing',
        description:
          'Implemented edge computing solutions to optimize data processing and enhance real-time decision-making capabilities for autonomous vehicles..',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1501514367484-a5804478bf64?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8YXV0b25vbW91cyUyMHZlaGljbGV8ZW58MHx8MHx8fDA%3D',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Autonomous Vehicle Researcher</h3>
      Worked under faculty supervision for 8 months as a research assistant. Primary goal was to increase efficieny and safety of autonomous vehicles in real world scenarios.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Community Building',
        description: 'Created a welcoming environment and promoted open communication among residents',
      },
      {
        title: 'Teamwork',
        description:
      "Worked under an extended frame of Rezlife structure. Collaborated with other RAs to organize program, helped out new RAs and improved my skills using feedback provided by supervisors"},
      {
        title: 'Programming',
        description:
          "Organized and executed various events and activities to foster a sense of community among residents.",
      },
      {
        title: 'Emergency Handling',
        description:
        "Managed emergency situations in a calm and organized manner, deescalated conflicts, and provided first aid and mental health support as needed."
},
    ]}
    image={{
      src: 'https://www.newfoundlandlabrador.com/businessimages/hero/32624197',
      alt: 'Blueprint Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Resident Assistant</h3>
    Started wroking as a Resident Assistant in Cluett Hall in 2022. Lived in Cluett for almost 3 years, Cluett is more than a job, it's like a second home!
  </Fragment>
</Content>


  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Coding Lessons',
        description:
          'Provided coding lessons for young people, grades 1 - 12 (Python, Java, Arduino)',
      },
      {
        title: 'Cybersecurity',
        description:
          'Conducted cybersecurity and privacy management sessions',
      },
      {
        title: 'Other',
        description:
          'Worked on robotics projects and troubleshooted various apps and devices like Macbook, Linux OS and Nintendo Switch.',
      },
      {
        title: 'Teamwork',
        description: `Worked with a group of amazing counsellors from different educational sectors to create an immersive learning environment for the campers .`,
      },
    ]}
    image={{
      src: 'https://www.mun.ca/engineering/media/production/memorial/academic/faculty-of-engineering/faculty-of-engineering-and-applied-science/media-library/images/content/camp/arcticengineer/IMG_4619-652x434.JPG',
      alt: 'Astronauts Image',
    }}
  >
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Coding Instructor</h3>
    Worked as a Coding Instructor for Memorial Engineering Outreach Summer Camp in Summer 2023. It was amazing to see the enthusiasm of youngsters for coding and computer devices in general. Great experience!   </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Other Work Experiences"
    items={[
      {
        title: 'AI Policy Researcher',
        description:
          "Contract part-time position with Memorial University Governance Secretariet. Conducted research on the impact of generational AI on academic plagiarism and submitted a report proposing countermeasures for University Policy.",
        icon: 'tabler:package',
      },
      {
        title: 'Professional Photographer',
        description:
          "Part time position at Memorial University. Engaged in digital marketing, event coverage, portrait, and architectural photography.",
        icon: 'tabler:camera',
      },
      {
        title: 'Community Manager: <a href="https://reflectiveteens.com" target="_blank" title="Reflective Teens">Reflective Teens</a>',
        description:
          'Worked As a Community Manager at Reflective Teens for 2 years, maintained a diverse international community, executed events, interviewed and recruited individuals, and ensured a safe environment. Part-time role from Jan 2020 to Feb 2022.',
        icon: 'tabler:paint',
      },
      {
        title: 'To Future Ventures!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Projects"
    subtitle="Projects I worked on for academic or work requirements or simply out of curiosity"
    tagline=""
    items={[
      {
        title: 'Email Spam Classifier',
        description: '<a href="https://github.com/ARNAB814/Spam-Email-Classifier" target="_blank" title="Reflective Teens">Uses Machine Learning to identify spam emails. Avaialble on my Github</a>',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Game of Life',
        description: '<a href="https://github.com/ARNAB814/Game-of-Life" target="_blank" title="Reflective Teens">Conway\'s Game of Life implemented on Java. Avaialble on my Github</a>',
        icon: 'flat-color-icons:template',
      },
      {
        title: "Can't Stop",
        description: '<a href="https://github.com/ARNAB814/Cant-Stop" target="_blank" title="Reflective Teens">A digital version of the classic board game remade in Java Swing. Avaialble on my Github</a>',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: "Knight's Tour",
        description: '<a href="https://github.com/ARNAB814/Knights-Tour" target="_blank" title="Reflective Teens">Solve the famous math problem using Knight\'s move sequence. Avaialble on my Github</a>',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Portfolio Site',
        description: '<a href="https://github.com/ARNAB814/Portfolio" target="_blank" title="Reflective Teens">Used Astro and Node.js to build this website. Source code available in Github!</a>',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Battleship Engine',
        description:
          'A battleship game playable online, made using Javascript, html and css. Source code avaiable upon request.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Ninja Adventure',
        description: '2D topdown game made in C++ with a SFML framework. The game review is avaialbe on Github. Code avaiable upon request.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Gerometry Dash',
        description: 'Game made in C++. Code avaiable upon request.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'VR Simulation',
        description:
          'Created in SteamVR and unity engine. Specifics of the project are covered by NDA.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Sudoku',
        description: '<a href="https://github.com/ARNAB814/Sudoku" target="_blank" title="Reflective Teens">Made in Python. Imports big data using Pandas. Avaiable on Github.</a>',
        icon: 'flat-color-icons:database',
      },
    ]
    }
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in the Blog section"
    information={`I like to click pictures in my free time. Here are some of my pictures in the blog. Enjoy!
                `}
  />

  <!-- FAQs Widget ******************* -->

 

  <!-- Stats Widget ****************** -->

  

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'LinkedIn',
        href: 'https://linkedin.com/in/arunavsaha',
        target: '_blank',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  >
    <Fragment slot="title">
     <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">You've reached the end!</span>
    </Fragment>

    <Fragment slot="subtitle">
      Checkout my other projects if you're curious :)
    </Fragment>
  </CallToAction>
</Layout>
