---
import { Icon } from 'astro-icon/components';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
}

const { text, url, class: className = 'inline-block' } = Astro.props;
---

<div class={className}>

</div>
